<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/calendar">Scheduler App</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/calendar">Calendar</a></li>
                <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/friends">Friends</a></li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <% if (user) { %>
                    <li class="nav-item">
                        <span class="navbar-text me-3">
                            Logged in as <strong>
                                <%= user.username %>
                            </strong>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-sm" href="/logout">Logout</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="btn btn-outline-light btn-sm me-2" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-warning btn-sm" href="/signup">Sign Up</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>